header {
  .nav-bar {
    display: flex;
    justify-content: center;
    left: 720px;
    position: absolute;
    top: 32px;
    .nav {
      font-family: "Stardos Stencil", cursive;
      margin: 0 30px;
      font-size: 25px;
      line-height: 50px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: #76474b;
    }
  }
  .firstname {
    position: absolute;
    width: 818px;
    height: 173px;
    left: 146px;
    top: 77px;

    font-family: Great Vibes;
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    line-height: 150px;
    /* or 107% */

    letter-spacing: 0.15em;

    color: #76474b;

    text-shadow: 10px 10px 5px #b67272;
  }
  .lastname {
    position: absolute;
    width: 513px;
    height: 210px;
    left: 494px;
    top: 242px;

    font-family: Great Vibes;
    font-style: normal;
    font-weight: normal;
    font-size: 140px;
    line-height: 150px;
    /* or 107% */

    letter-spacing: 0.15em;

    color: #76474b;

    text-shadow: 10px 10px 5px #b67272;
  }
}
